body{
  padding:0;
  margin:0;
}
.vid-container{
  position:relative;
  height:100vh;
  overflow:hidden;
}
.bgvid{
  position:absolute;
  left:0;
  top:0;
  width:100vw;
}
.inner-container{
  width:400px;
  height:400px;
  position:absolute;
  top:calc(50vh - 200px);
  left:calc(50vw - 200px);
  overflow:hidden;
}
/* .bgvid.inner{
  top:calc(-50vh + 200px);
  left:calc(-50vw + 200px);
  filter: url("data:image/svg+xml;utf9,<svg%20version='1.1'%20xmlns='http://www.w3.org/2000/svg'><filter%20id='blur'><feGaussianBlur%20stdDeviation='10'%20/></filter></svg>#blur");
  -webkit-filter:blur(10px);
  -ms-filter: blur(10px);
  -o-filter: blur(10px);
  filter:blur(10px);
} */
.box{
  position:absolute;
  height:100%;
  width:100%;
  /* font-family:Helvetica; */
  color:rgb(82, 81, 82);
  background:rgba(0,0,0,0.13);
  padding:30px 0px;
}
.box h1{
  text-align:center;
  margin:30px 0;
  font-size:30px;
}
.box input{
  text-align:center;
  display:block;
  width:300px;
  margin:20px auto;
  padding:15px;
  background:rgba(0,0,0,0.2);
  color:rgb(43, 43, 43);
  border:0;
}
.box input:focus,.box input:active,.box button:focus,.box button:active{
  outline:none;
}
#loginButton{
  background:#ff6767;
  border:0;
  color:rgb(73, 73, 73);
  padding:10px;
  font-size:20px;
  width:330px;
  margin:20px auto;
  display:block;
  cursor:pointer;
}
#loginButton:active{
  background:#97fd22;
}
.box p{
  font-size:14px;
  text-align:center;
}
/* .box p span{
  cursor:pointer;
  color:#666;
} */












/* index css */

/* *, *::before, *::after {
  box-sizing: border-box;
  font-family: fantasy;
} */
/* 
:root{
 --hue-neutral: 200;
 --hue-wrong:0;
 --hue-correct: 145;
}

body{

 --hue: var(--hue-neutral);

 padding: 0;
 margin: 0;
 display: flex;
 width: 100vw;
 height: 100vw;
 justify-content: center;
 align-items: center ;
 background-color: hsl(var(--hue), 110%, 30%);
}

/* this is the class correct that need to be added whenever the answer is right  */
/* body.correct{
--hue: var(--hue-correct);
}

body.wrong{
 --hue: var(--hue-wrong);
}


.container {
 width: 800px;
 max-width: 80%;
 background-color: white;
 border-radius: 5px ;
 padding: 10px;
 padding-right: 20px;
 padding-left: 60px;
 box-shadow: 0 0 10px 2px;
}

/* .letter-list{
 width: 100%;
 display: flex;
 flex-direction: row;
 justify-content: center; 
} */

/* .block{
 width: 30px;
 height: 30px;
}

li::first-letter {
 font-size: 100%;
 color: #8A2BE2;
}

img {
 border: 1px  #ddd;
 border-radius: 4px;
 padding: 5px;
 width: 90px;
 position: center;

}

.equal-sign{
 border: 1px  #ddd;
 border-radius: 4px;
 padding: px;
 width: 40px;
 height: 40px;
}

.plus-imag {
 border: 1px  #ddd;
 border-radius: 4px;
 padding: 5px;
 width: 40px;
 height: 40px;
}

ul{
 list-style-type: none;
}

.start-btn, .next-btn {
 font-size: 1.5rem;
 font-weight: bold;
 padding: 10px 20px;
}

.block{
 border: solid rgb(0, 255, 200);
 padding-left: 10px;

 
}

.img-grid {
 display: grid;
 grid-template-columns: repeat(4, auto);
 gap: 10px;
 margin: 20px 0;
 display: flex;
 justify-content: center;
 align-items: center;
}


.letter-grid {
 width: relative;
 display: grid;
 grid-template-columns: repeat(100, auto);
 gap: 10px;
 margin: 20px 0;

}

.btn {
 --hue: var(--hue-neutral);
 border: 1px solid hsl(var(--hue), 100%, 30%);
 background-color: hsl(var(--hue), 100%, 50%);
 border-radius: 5px;
 padding: 5px 10px;
 color: white;
 outline: none;
}

.btn:hover {
 border-color: black;
}

.controls {
 display: flex;
 justify-content: center;
 align-items: center;
}

.hide {
 display: none; 
}  
  */

  img {
    border: 1px  #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 90px;
    position: center;
  
  }